
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
}


h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
}

main {
    border: 3px solid #000;
}

.title-box, .subtitle {
    border-bottom: 3px solid #000;
}

.subtitle {
    max-width: 100%;
    overflow: hidden;
    background-color: #000;
}

/* Used the following article to create the marquee effect: https://stackoverflow.com/questions/45847392/pure-css-continuous-horizontal-text-scroll-without-break */
.scrolling-text {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 13px 0 10px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 250s linear infinite;
}

@keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

.subtitle h2 {
    margin: 0;
    display: inline-block;
}

#content, #content2, #contect3 {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}


.prize-category {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 200px;

}



.prize-category h2 {
    font-size: 18px;
    margin-bottom: 10px;
}



.prize-category ul{
    list-style:none;
    padding: 0;
}


/* here we will style the buttons feel free to change anything you want*/

/*button {}


button:hover{ 


.prize-car-tegory ul li{

#tableContainer {


#tableContainer table {


#bioContainer */

